*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--theme-background);
  border: 1px solid var(--theme-border);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  /* background-color: var(--theme-color-main); */
  background-image: linear-gradient(
    to bottom left,
    var(--theme-color-main),
    var(--theme-color-light)
  );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.6s ease-in;
}

/* .review-editor {
  pointer-events: ;
} */
